*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}


body{
    display: flex;
    background-color: hsl(226, 43%, 10%);
    color: #fff;
    font-family: Rubik;
    padding: 150px;
    gap: 20px;

}

.icon-person{
    width: 85px;
    border: 3px solid #fff;
    border-radius: 50%;
    margin-bottom: 50px;
}
main{
    width: 250px;
    background-color: #1d204b;
    border-radius: 15px;

}
.div-jeremy{
    background-color: #5746ea;
    padding: 30px;
    border-radius: 10px 10px 10px 10px;
    display: flex;
    padding-bottom: 80px;
    flex-direction: column ;
    justify-content: center;
}
.div-jeremy span{
    color: #a59ff3;
}
.div-jeremy h1{
    font-weight: 100;
    font-size: 2.5rem;
}

.links-jeremy{
    background-color: #1d204b;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    padding: 30px;
    border-radius: 0 0 10px 10px;
}
.link1,.link3{
    color: #7277ae;
}
.link2{
    color: #daddec;
}

section{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.container-1{
    display: flex;
    gap: 20px;
}

.container-2{
    gap: 20px;
    display: flex;
}
h2{
    font-size: 1rem;
    font-weight: 500;
}

.div-parenteces{
    display: flex;
    justify-content: space-between;
}

.div-parenteces img{
    object-fit: contain;
}

.container-item{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #1d204b;
    border-radius: 15px;
    width: 250px;
    height: 200px;
    padding: 30px;
}
.container-item span{
    display: block;
    font-size: 14px;
    color: #9498c9;
}

.container-item h3{
    font-weight: 100;
    font-size: 3.5rem;
    margin-bottom: 4px;
}

.item-1{
    background-color: #ff8b64;
    padding-top: 40px;
    border-radius: 10px 10px 20px 20px ;
}


.item-2{
    background-color: #56c2e5;
    padding-top: 40px;
    border-radius: 10px 10px 20px 20px ;
}
.item-3{
    background-color: #ff5e7d;
    padding-top: 40px;
    border-radius: 10px 10px 20px 20px ;
}
.item-4{
    background-color: #4bcf83;
    padding-top: 40px;
    border-radius: 10px 10px 20px 20px ;

}
.item-5{
    background-color: #7235d1;
    padding-top: 40px;
    border-radius: 10px 10px 20px 20px ;

}
.item-6{
    background-color: #f1c75b;
    padding-top: 40px;
    border-radius: 10px 10px 20px 20px ;

}